<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <queries>
        <package android:name="com.heytap.headset" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:extractNativeLibs="false"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.OppoPods">

        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PopupActivity"
            android:theme="@style/Theme.OppoPods.Popup"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="chen.action.oppopods.show_pods_ui" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectionPopupActivity"
            android:theme="@style/Theme.OppoPods.Popup"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true" />
        <!-- 跨进程供图：被 hook 的系统进程读取当前配置档的岛图/通知图 -->
        <provider
            android:name=".pods.PodImageProvider"
            android:authorities="io.github.zuohl.hyperpods.assets"
            android:exported="true" />

        <!-- Set as Xposed Module -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- Set your Xposed Module description -->
        <meta-data
            android:name="xposeddescription"
            android:value="OPPO Earphones Support for Xiaomi HyperOS." />

        <!-- The minimum Xposed version number -->
        <meta-data
            android:name="xposedminversion"
            android:value="102" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>

</manifest>
